<template>
  <div class="fill-height" style="background-color: #f5e7ef">
    <v-container class="fill-height">
      <h2>{{ companyName }}</h2>
      <p><b>Contact No.&nbsp;</b> {{ contactNo }}</p>
      <p><b>Address:</b> {{ address }}</p>
    </v-container>
  </div>
</template>

<script setup>
  import {useConfigurations} from "@/stores/configurationsStore";
  import {storeToRefs} from "pinia";
  import {computed} from "vue";
  import {ConfigurationTypes} from "@/model/configurationTypes";

  const {mappedConfigurations} = storeToRefs(useConfigurations());

  const companyName = computed(
    () => mappedConfigurations.value[ConfigurationTypes.COMPANY_NAME]?.value
  );
  const contactNo = computed(
    () => mappedConfigurations.value[ConfigurationTypes.CONTACT_NO]?.value
  );
  const address = computed(() => mappedConfigurations.value[ConfigurationTypes.ADDRESS]?.value);
</script>
