<template>
  <div class="d-flex position-relative" style="max-height: 450px">
    <v-sheet class="d-flex justify-center align-center w-25" color="#C2A8F0" />
    <v-img
      cover
      gradient="to left, rgba(0,0,0,.01), #C2A8F0"
      src="/banners/make-your-candle.jpg"
      width="75%"
    />
    <div class="position-absolute w-100 h-100 d-flex flex-column justify-center align-center">
      <p class="text-h2 text-center">Make your own candle</p>
      <v-btn class="mt-3" color="#FFC0CB" size="large" to="/contact">Contact us!</v-btn>
    </div>
  </div>
</template>
