<template>
  <div
    class="d-flex justify-center align-center position-fixed bg-grey-lighten-2"
    :style="containerStyle"
  >
    <v-progress-circular :size="70" :color="color" indeterminate />
  </div>
</template>

<script setup>
  import {computed, toRef} from "vue";

  const props = defineProps({
    color: {
      type: String,
      default: "blue",
    },
  });

  const usedColor = toRef(props, "color");

  const containerStyle = computed(() => ({
    backgroundColor: usedColor.value,
    zIndex: 10000,
    height: "100vh",
    width: "100vw",
  }));
</script>
