<template>
  <v-progress-linear :color="color" class="position-absolute w-100" indeterminate />
</template>

<script setup>
  defineProps({
    color: {
      type: String,
      default: "blue",
    },
  });
</script>
