<template>
  <v-btn color="#C2A8F0" icon style="background-color: deeppink" class="ma-0" @click="gotoCheckout">
    <v-badge v-if="cartCount > 0" :content="cartCount" floating>
      <v-icon icon="mdi-cart"></v-icon>
    </v-badge>
    <v-icon v-else icon="mdi-cart"></v-icon>
  </v-btn>
</template>

<script setup>
  import router from "@/pages/router";
  import {storeToRefs} from "pinia";
  import {useCheckoutStore} from "@/stores/checkoutStore";

  const {cartCount} = storeToRefs(useCheckoutStore());

  const gotoCheckout = async () => {
    await router.push("/checkout");
  };
</script>
