<template>
  <FloatingButton :visible="showBtn" icon="mdi-phone" tooltip-text="Contact us" @click="redirect" />
</template>

<script setup>
  import {useRoute, useRouter} from "vue-router";
  import {computed} from "vue";
  import FloatingButton from "@/common/components/FloatingButton.vue";

  const router = useRouter();
  const route = useRoute();

  const ignoredRoutes = ["products", "contact", "admin", "checkout"];

  const showBtn = computed(() => !ignoredRoutes.includes(route.name));

  const redirect = async () => {
    await router.push("/contact");
  };
</script>
