<template>
  <v-chip
    :class="{grow: animated}"
    :color="color"
    class="font-weight-bold"
    :style="{color: textColor}"
    variant="flat"
  >
    <div class="d-flex align-center">
      <v-icon v-if="icon && iconAtStart" :icon="icon" :color="iconColor" />
      <div class="mx-1">{{ label }}</div>
      <v-icon v-if="icon && !iconAtStart" :icon="icon" :color="iconColor" />
    </div>
  </v-chip>
</template>

<script setup>
  import {computed} from "vue";

  const props = defineProps({
    label: {
      type: String,
      required: true,
    },
    textColor: {
      type: String,
      required: true,
    },
    color: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      required: true,
    },
    iconPosition: {
      type: String,
      default: "end",
    },
    iconColor: {
      type: String,
      required: true,
    },
    animated: {
      type: Boolean,
      required: true,
    },
  });

  const iconAtStart = computed(() => props.iconPosition === "start");
</script>

<style scoped>
  .grow {
    animation: grow 1s ease-out infinite;
  }
</style>
