<template>
  <div class="my-3 w-100">
    <v-card :elevation="2" color="red-lighten-5">
      <div class="d-flex flex-no-wrap justify-space-between">
        <div>
          <v-card-title class="text-h4 text-wrap">{{ product.title }}</v-card-title>
          <v-avatar class="position-absolute ma-4" :size="imageSize" style="top: 0; right: 0">
            <v-img :src="product.image" cover />
          </v-avatar>
          <v-card-text>
            <div class="font-weight-bold mx-1">{{ product.currency }} {{ product.cost }}</div>
            <div class="mx-1">{{ product.description }}</div>
          </v-card-text>
          <v-card-actions>
            <v-btn
              icon="mdi-minus"
              size="small"
              variant="flat"
              color="#FFC0CB"
              class="mx-2"
              @click="removeProduct(product)"
            />
            <div class="font-weight-bold text-center text-h5">{{ product.count }}</div>
            <v-btn
              icon="mdi-plus"
              size="small"
              variant="flat"
              color="#FFC0CB"
              class="mx-2"
              @click="addProduct(product)"
            />
          </v-card-actions>
        </div>
      </div>
    </v-card>
  </div>
</template>

<script setup>
  import {computed} from "vue";
  import {useDisplay} from "vuetify";
  import {useCheckoutStore} from "@/stores/checkoutStore";
  import {CartActionTypes} from "@/model/cartActionTypes";
  import {notificationStore} from "@/stores/notificationStore";

  defineProps({
    product: {
      type: Object,
      required: true,
    },
  });

  const {mdAndUp} = useDisplay();
  const {addNotification} = notificationStore();

  const {addItem, itemIndex, removeItem} = useCheckoutStore();

  const addProduct = (product) => {
    addItem(product);
  };

  const removeProduct = (product) => {
    removeItem(product);
    if (itemIndex(product) === -1)
      addNotification({action: CartActionTypes.REMOVE, product}, "PRODUCT");
  };

  const imageSize = computed(() => (mdAndUp.value ? 125 : 50));
</script>
