<template>
  <v-card
    class="mx-auto w-100 h-100"
    :class="{clickable: interactive}"
    color="white"
    @[interactive&&`click`]="navigate"
  >
    <v-img :src="image" cover style="height: 200px">
      <template #placeholder>
        <div class="w-100 h-100 bg-grey-lighten-2 skeleton pa-2" />
      </template>
    </v-img>
    <v-card-title class="px-3 py-1">
      {{ title }}
      <div
        v-if="!title"
        class="skeleton bg-grey-lighten-2 rounded pa-1 float-left w-100"
        style="height: 30px"
      />
    </v-card-title>
    <v-card-text class="px-2" style="height: 40%">
      <v-row no-gutters class="text-justify h-100">
        {{ description }}
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script setup>
  import {useRouter} from "vue-router";

  const props = defineProps({
    title: {
      type: String,
      required: true,
    },
    image: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    interactive: {
      type: Boolean,
      default: true,
    },
  });

  const router = useRouter();

  const navigate = () =>
    router.push({
      path: "/products",
      query: {
        q: props.title,
      },
    });
</script>

<style scoped>
  .clickable {
    cursor: pointer;
    transition: 150ms;
  }

  .clickable:hover {
    transform: scale(105%);
  }
</style>
