<template>
  <v-card class="fill-height d-flex flex-column justify-space-between" elevation="3">
    <v-badge :color="badgeColor" />
    <div>
      <v-card-title>ORDER: {{ order.orderId }}</v-card-title>
      <v-card-subtitle> Ordered at: {{ new Date(order.date).toLocaleString() }} </v-card-subtitle>
    </div>
    <v-card-text>
      <div class="fill-height d-flex flex-column justify-space-between">
        <div>
          <div class="font-weight-bold text-h5">Order details:</div>
          <v-list>
            <v-list-subheader class="text-h6">ITEMS</v-list-subheader>
            <v-list-item v-for="(item, j) in order.items" :key="j">
              <v-list-item-title>
                <span class="font-weight-bold">{{ j + 1 }}.</span>
                {{ item.title }}
              </v-list-item-title>
              <v-list-item-subtitle>Count: {{ item.count }}</v-list-item-subtitle>
              <div>
                <span class="font-weight-bold">Items cost: </span>AED
                {{ item.count * item.cost }}
              </div>
            </v-list-item>
          </v-list>
        </div>
        <div class="fill-height d-flex align-end">
          <v-divider class="my-2" />
        </div>
        <div class="text-h6">Total: AED {{ getOrderCost(order) }}</div>
      </div>
    </v-card-text>
    <v-card-actions>
      <slot name="actions" />
    </v-card-actions>
  </v-card>
</template>

<script setup>
  import {computed} from "vue";
  import {OrderStatus} from "@/model/OrderStatus";

  const props = defineProps({
    order: {
      type: Object,
      required: true,
    },
  });

  const badgeColor = computed(() => {
    switch (props.order.status) {
      case OrderStatus.ACTIVE:
        return "blue";
      case OrderStatus.COMPLETED:
        return "green";
      case OrderStatus.CANCELLED:
        return "red";
      default:
        throw new Error("Not valid order status");
    }
  });

  const getOrderCost = (order) => {
    let count = 0;
    order.items.forEach((i) => (count += parseInt(i.cost) * i.count));
    return count;
  };
</script>
