<template>
  <div class="fill-height" style="min-height: 300px">
    <v-card density="compact" class="fill-height overflow-visible">
      <TagChip
        v-if="hasTag"
        :icon="tag.icon"
        :icon-color="tag.iconColor"
        :icon-position="tag.iconPosition"
        :color="tag.color"
        :text-color="tag.textColor"
        :label="tag.label"
        :animated="tag.animated"
        class="position-absolute pa-1"
        style="top: -5px; right: -5px; z-index: 1"
      />
      <v-img :src="image" cover style="height: 40%">
        <template #placeholder>
          <div class="w-100 h-100 bg-grey-lighten-2 skeleton"></div>
        </template>
      </v-img>
      <v-card-title class="px-3 py-1">
        {{ title }}
        <div
          v-if="!title"
          class="skeleton bg-grey-lighten-2 rounded pa-1 float-left w-100"
          style="height: 30px"
        />
      </v-card-title>
      <v-card-text class="px-2" style="height: 40%">
        <v-row no-gutters class="text-justify h-100">
          <v-col v-if="rating" cols="12">
            <v-rating
              :model-value="rating"
              color="amber"
              density="compact"
              half-increments
              readonly
              size="small"
            />
            <span class="text-grey ms-1">{{ rating }} (218)</span>
          </v-col>
          <v-col
            cols="12"
            class="mb-2"
            style="
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              max-height: 75px;
            "
          >
            {{ description }}
          </v-col>
          <v-col cols="12" class="h-25 mt-auto">
            <div class="float-right">
              <span class="font-weight-bold"> {{ currency }} </span>
              <span
                v-if="!cost"
                class="skeleton bg-grey-lighten-2 rounded px-4 py-1 mx-1"
                style="width: 30px"
              />
              <span class="font-weight-bold mx-1">
                <span v-if="cost">{{ cost }}</span>
              </span>
              <span class="text-grey ms-1 text-caption text-decoration-line-through">
                {{ currency }} {{ notDiscountedCost }}
              </span>
            </div>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions class="float-right position-absolute" style="bottom: 0">
        <slot />
      </v-card-actions>
    </v-card>
  </div>
</template>

<script setup>
  import TagChip from "@/components/chips/TagChip.vue";
  import {useTags} from "@/stores/tagsStore";
  import {computed} from "vue";
  import {storeToRefs} from "pinia";

  const props = defineProps({
    title: {
      type: String,
      required: true,
    },
    image: {
      type: String,
      required: true,
    },
    cost: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    tagId: {
      type: String,
      default: "",
    },
    rating: {
      type: Number,
      default: null,
    },
    currency: {
      type: String,
      default: "AED",
    },
  });

  const {tags, retrieving} = storeToRefs(useTags());

  const hasTag = computed(() => props.tagId !== "" && !retrieving.value);

  const tag = computed(() => (hasTag.value ? tags.value.find((e) => e.id === props.tagId) : {}));

  const increasedCost = computed(() => props.cost * 1.45);
  const notDiscountedCost = computed(() =>
    increasedCost.value % 1 !== 0 ? increasedCost.value.toFixed(2) : increasedCost.value
  );
</script>
