<template>
  <div class="d-flex align-center">
    <v-label>{{ label }}:</v-label>
    <v-hover v-slot="{isHovering, props: properties}">
      <div
        :class="{'elevation-3': isHovering, 'elevation-1': !isHovering}"
        :style="pickerStyle"
        class="mx-1"
        v-bind="properties"
      >
        <v-menu activator="parent" location-strategy="connected">
          <v-color-picker :model-value="color" @update:model-value="$emit('change', $event)" />
        </v-menu>
      </div>
    </v-hover>
  </div>
</template>

<script setup>
  import {computed} from "vue";

  const props = defineProps({
    color: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
  });

  defineEmits(["change"]);

  const pickerStyle = computed(() => ({
    background: props.color,
    width: "25px",
    height: "25px",
  }));
</script>
