<template>
  <v-text-field
    v-model="iconsFilter"
    v-click-outside="focusOutFilter"
    :label="label"
    density="compact"
    hide-details="auto"
    :prepend-inner-icon="modelValue"
    append-inner-icon="mdi-close-circle"
    @click:append-inner="clear"
    @focus="focusInFilter"
  >
    <v-menu v-model="showPicker" activator="parent" width="100px" :open-on-click="false">
      <div v-click-outside="focusOutPicker" @click="focusInPicker" @click.stop="">
        <v-card class="mb-2 mx-1">
          <v-card-text v-if="!notFoundIcons">
            <v-slider
              v-model="sliderPage"
              hide-details="auto"
              min="1"
              :max="availablePages"
              class="ma-auto"
              density="compact"
            />
            <v-row no-gutters class="mx-auto">
              <v-col v-for="(icon, index) in showedIcons" :key="index" cols="1">
                <v-btn
                  density="comfortable"
                  :color="modelValue === icon ? 'blue' : '#555555'"
                  variant="tonal"
                  class="ma-1"
                  icon
                  @click="selectIcon(icon)"
                  @click.stop=""
                >
                  <v-icon :icon="icon" />
                  <v-tooltip activator="parent">{{ icon }}</v-tooltip>
                </v-btn>
              </v-col>
            </v-row>
            <small class="float-right text-center font-weight-bold ma-0"
              >Page {{ currentPage }} / {{ availablePages }}</small
            >
          </v-card-text>
          <v-card-text v-else class="text-grey"> Not found Icons </v-card-text>
        </v-card>
      </div>
    </v-menu>
  </v-text-field>
</template>

<script setup>
  import {computed, nextTick, ref, watch} from "vue";
  import {slice, clone, round} from "lodash";
  import iconsMeta from "@mdi/svg/meta.json";

  const props = defineProps({
    modelValue: {
      type: String,
      required: true,
    },
  });

  const label = props.modelValue ? props.modelValue : "Icon";

  const emit = defineEmits(["clear", "update:modelValue"]);

  const iconsFilter = ref("");
  const filterFocused = ref(false);
  const pickerFocused = ref(false);
  const showPicker = ref(false);

  const availableIcons = iconsMeta.map((icon) => "mdi-" + icon.name);

  const filteredIcons = computed(() =>
    availableIcons.filter((icon) => icon.includes(iconsFilter.value))
  );

  const notFoundIcons = computed(() => filteredIcons.value.length === 0);
  const availablePages = computed(() => Math.ceil(filteredIcons.value.length / pageSize));

  const sortedIcons = computed(() =>
    clone(filteredIcons.value).sort((a, b) => {
      if (a.length < b.length) return -1;
      else if (a.length > b.length) return 1;
      else if (a < b) return -1;
      else return 1;
    })
  );

  const pageSize = 48;

  const initialPage = computed(() =>
    props.modelValue && sortedIcons.value.includes(props.modelValue)
      ? Math.ceil((sortedIcons.value.findIndex((f) => f === props.modelValue) + 1) / pageSize)
      : 1
  );

  const sliderPage = ref(initialPage.value);

  const currentPage = computed(() => round(sliderPage.value));

  const showedIcons = computed(() =>
    slice(
      sortedIcons.value,
      currentPage.value * pageSize - pageSize,
      currentPage.value * pageSize > availableIcons.length
        ? availableIcons.length
        : currentPage.value * pageSize
    )
  );

  const selectIcon = (icon) => {
    iconsFilter.value = "";
    emit("update:modelValue", icon);
    filterFocused.value = false;
    pickerFocused.value = false;
  };

  const clear = () => {
    emit("clear");
    iconsFilter.value = "";
  };

  const focusInFilter = () => {
    filterFocused.value = true;
    sliderPage.value = initialPage.value;
  };

  const focusOutFilter = () => {
    filterFocused.value = false;
  };

  const focusInPicker = () => {
    pickerFocused.value = true;
  };

  const focusOutPicker = () => {
    pickerFocused.value = false;
    iconsFilter.value = "";
  };

  watch([filterFocused, pickerFocused], () =>
    nextTick(() => (showPicker.value = filterFocused.value || pickerFocused.value))
  );
</script>
