<template>
  <div
    class="my-2 pa-2 w-100 rounded d-flex align-center justify-space-between elevation-2"
    :class="{[`bg-${color}`]: true}"
  >
    <slot />
  </div>
</template>

<script setup>
  defineProps({
    color: {
      type: String,
      default: "#FFC0CB",
    },
  });
</script>
