<template>
  <div class="position-fixed pa-2 mt-15" :style="wrapperStyle">
    <TransitionGroup name="list" tag="ul">
      <slot />
    </TransitionGroup>
  </div>
</template>

<script setup>
  const wrapperStyle = {
    zIndex: 10000,
    right: 0,
    width: "300px",
    maxWidth: "100vw",
  };
</script>
