<template>
  <BaseNotification :color="color">
    <h4>{{ text }}</h4>
    <slot name="actions" />
  </BaseNotification>
</template>

<script setup>
  import BaseNotification from "@/common/components/notifications/BaseNotification.vue";

  defineProps({
    text: {
      type: String,
      required: true,
    },
    color: {
      type: String,
      default: "#FFC0CB",
    },
  });
</script>
