<template>
  <PageContainer :container="false" :configurations="mappedConfigurations">
    <div class="fill-height">
      <div class="text-h2 my-5 text-center">About Us</div>
      <v-sheet class="w-100 pa-2 mx-auto" color="#f2f2f2">
        <div class="text-h6 ma-10" style="white-space: pre-line">{{ aboutText }}</div>
      </v-sheet>
    </div>
  </PageContainer>
</template>

<script setup>
  import PageContainer from "@/components/PageContainer.vue";
  import {computed} from "vue";
  import {ConfigurationTypes} from "@/model/configurationTypes";
  import {useConfigurations} from "@/stores/configurationsStore";
  import {storeToRefs} from "pinia";

  const {mappedConfigurations} = storeToRefs(useConfigurations());

  const aboutText = computed(
    () => mappedConfigurations.value[ConfigurationTypes.ABOUT_TEXT]?.value
  );
</script>
