<template>
  <PageContainer :configurations="mappedConfigurations">
    <div class="text-center text-h3 mt-5">Contact Us</div>
    <p class="text-center">Write a message and we will contact you soon!</p>
    <v-card class="mx-auto mt-2 position-relative" max-width="600px">
      <v-form v-if="!form.sent" v-model="form.isValid" class="pa-2" @submit="handleSubmit">
        <v-text-field
          v-model="form.email"
          :rules="[required, isEmail]"
          label="Email"
          variant="filled"
        />
        <v-text-field
          v-model="form.contact"
          :rules="[required]"
          label="Contact No."
          variant="filled"
          type="number"
        />
        <v-textarea
          v-model="form.message"
          :rules="[required, minMessage, maxMessage]"
          label="Your message here"
          variant="filled"
        />
        <v-btn class="w-100" color="#C2A8F0" type="submit" :disabled="!enabled">Send</v-btn>
      </v-form>
      <div
        v-else-if="!loading"
        class="d-flex flex-column justify-center align-center"
        style="height: 350px; background: #c2a8f0"
      >
        <h1>Thank you! We will contact you soon.</h1>
        <v-icon icon="mdi-check-circle" size="large" color="green" />
      </div>
      <LinearProgress v-else />
    </v-card>
  </PageContainer>
</template>

<script setup>
  import PageContainer from "@/components/PageContainer.vue";
  import {isValidEmailAddress} from "jsdom/lib/jsdom/living/helpers/form-controls";
  import {computed, reactive} from "vue";
  import {sendMessage} from "@/common/services/slackService";
  import LinearProgress from "@/common/components/progress/LinearProgress.vue";
  import {storeToRefs} from "pinia";
  import {useConfigurations} from "@/stores/configurationsStore";

  const {mappedConfigurations} = storeToRefs(useConfigurations());

  const required = (v) => !!v || "Field is required";

  const isEmail = (v) => isValidEmailAddress(v) || "Valid email is required";

  const minMessage = (v) => v.length >= 20 || "At least 20 characters are required";

  const maxMessage = (v) => v.length <= 100 || "You reached the maximum length";

  const form = reactive({
    isValid: false,
    email: "",
    message: "",
    contact: "",
    sent: false,
  });

  const enabled = computed(() => form.isValid);

  const {loading, send} = sendMessage("contact request");

  const handleSubmit = (e) => {
    e.preventDefault();

    send({
      email: form.email,
      contactNo: form.contact,
      message: form.message,
    });

    form.sent = true;
    form.email = "";
    form.message = "";
    form.contact = "";
  };
</script>
