<template>
  <CircularProgress v-if="retrieving" />
  <PageContainer :container="false" :configurations="mappedConfigurations">
    <MainBanner />
    <v-container class="fill-height">
      <div class="text-h3">Our Products</div>
      <v-row class="mx-auto flex-fill">
        <v-col
          v-for="(category, i) in usedCategories"
          :key="i"
          class="my-8"
          cols="6"
          lg="2"
          md="3"
          sm="4"
        >
          <CategoryCard
            :description="category.description"
            :image="category.image"
            :title="category.title"
          />
        </v-col>
      </v-row>
    </v-container>
    <InformationPanel />
    <NotificationsGroup :notifications="notifications" />
  </PageContainer>
</template>

<script setup>
  import PageContainer from "@/components/PageContainer.vue";
  import CategoryCard from "@/components/cards/CategoryCard.vue";
  import InformationPanel from "@/components/panels/InformationPanel.vue";
  import MainBanner from "@/components/panels/MainBanner.vue";
  import CircularProgress from "@/common/components/progress/CircularProgress.vue";
  import {useCategories} from "@/stores/categoriesStore";
  import {storeToRefs} from "pinia";
  import {useConfigurations} from "@/stores/configurationsStore";
  import NotificationsGroup from "@/common/components/notifications/NotificationsGroup.vue";
  import {notificationStore} from "@/stores/notificationStore";

  const {usedCategories, retrieving} = storeToRefs(useCategories());
  const {mappedConfigurations} = storeToRefs(useConfigurations());
  const {notifications} = storeToRefs(notificationStore());
</script>
