<template>
  <ProductsNotificationGroup />
  <CircularProgress v-if="retrieving" color="#C2A8F0" />
  <span v-if="hasError">{{ error }}</span>
  <PageContainer :configurations="mappedConfigurations">
    <GroupedItems
      :data="products"
      group-by="category"
      :expected-groups="availableCategories"
      :filtered-fields="['title']"
    >
      <template #item-renderer="{element}">
        <ProductCard
          :title="element.title"
          :description="element.description"
          :cost="element.cost"
          :image="element.image"
          :tag-id="element.tagId"
          :currency="element.currency"
        >
          <v-btn
            color="deep-purple-lighten-2"
            variant="text"
            append-icon="mdi-cart"
            @click="addProductToCart(element)"
          >
            Add to cart
          </v-btn>
        </ProductCard>
      </template>
    </GroupedItems>
  </PageContainer>
</template>

<script setup>
  import PageContainer from "@/components/PageContainer.vue";
  import CircularProgress from "@/common/components/progress/CircularProgress.vue";
  import GroupedItems from "@/common/components/GroupedItems.vue";
  import ProductCard from "@/components/cards/ProductCard.vue";
  import {storeToRefs} from "pinia";
  import {useProducts} from "@/stores/productsStore";
  import {computed} from "vue";
  import {useCategories} from "@/stores/categoriesStore";
  import {useConfigurations} from "@/stores/configurationsStore";
  import {useCheckoutStore} from "@/stores/checkoutStore";
  import {CartActionTypes} from "@/model/cartActionTypes";
  import ProductsNotificationGroup from "@/components/notifications/ProductsNotificationGroup.vue";
  import {notificationStore} from "@/stores/notificationStore";

  const {products, retrieving, error} = storeToRefs(useProducts());
  const {usedCategories} = storeToRefs(useCategories());
  const {mappedConfigurations} = storeToRefs(useConfigurations());
  const {addNotification} = notificationStore();

  const {addItem} = useCheckoutStore();

  const availableCategories = computed(() => usedCategories.value.map((c) => c["title"]));
  const hasError = computed(() => error.value !== "");

  const addProductToCart = (product) => {
    addItem({
      cost: product.cost,
      currency: product.currency,
      description: product.description,
      image: product.image,
      title: product.title,
    });
    addNotification({action: CartActionTypes.ADD, product}, "PRODUCT");
  };
</script>
