<template>
  <v-dialog v-model="isVisible" persistent>
    <div ref="dialog">
      <v-card max-width="800" class="w-100 pa-2 position-relative mx-auto" :loading="loading">
        <v-btn class="float-right" size="small" variant="text" icon="mdi-close" @click="close" />
        <div class="text-h5 font-weight-bold text-center my-1">
          {{ title }}
        </div>
        <v-divider class="my-2" />
        <slot />
        <v-card-actions class="float-right">
          <slot name="actions" />
        </v-card-actions>
      </v-card>
    </div>
  </v-dialog>
</template>

<script setup>
  import {ref, toRef} from "vue";
  import useEventListener from "@/common/useEventListener";

  const props = defineProps({
    visible: {
      type: Boolean,
      required: true,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      required: true,
    },
  });

  const emit = defineEmits(["close"]);

  const isVisible = toRef(props, "visible");

  const dialog = ref();

  useEventListener(document, "keyup", (key) => {
    if (!(key.keyCode !== 27 && isVisible.value)) emit("close");
  });

  useEventListener(document, "dblclick", (event) => {
    event.preventDefault();
    if (
      (event.target === dialog.value || !event.composedPath().includes(dialog.value)) &&
      props.visible
    )
      emit("close");
  });

  const close = () => emit("close");
</script>
