<template>
  <ProductsNotificationGroup />
  <PageContainer :configurations="mappedConfigurations">
    <Transition name="fade">
      <div v-if="cartIsEmpty" class="fill-height d-flex flex-column justify-center align-center">
        <div class="my-4 text-h3 text-center">There are not products in the cart.</div>
        <v-btn size="x-large" class="grow" color="#564a6a" to="/products" variant="plain">
          Explore products
        </v-btn>
      </div>
      <div v-else class="fill-height position-relative">
        <div class="d-flex align-center">
          <v-btn size="large" color="pink" to="/products">Explore products</v-btn>
          <v-spacer />
          <v-select
            v-model="currency"
            label="Currency"
            :items="availableCurrencies"
            density="compact"
          />
        </div>
        <TransitionGroup name="list" tag="ul" @after-leave="animationFinished">
          <CartProduct v-for="item in cart" :key="item" :product="item" />
        </TransitionGroup>
        <div class="d-flex justify-end align-center">
          <div class="font-weight-bold mx-1 text-h6">Total: {{ currency }} {{ total }}</div>
          <v-btn color="#C2A8F0" class="mx-1" to="/checkout/delivery">Order now</v-btn>
        </div>
      </div>
    </Transition>
  </PageContainer>
</template>

<script setup>
  import {storeToRefs} from "pinia";
  import {useCheckoutStore} from "@/stores/checkoutStore";
  import PageContainer from "@/components/PageContainer.vue";
  import {useConfigurations} from "@/stores/configurationsStore";
  import {ref} from "vue";
  import CartProduct from "@/components/cards/CartProduct.vue";
  import ProductsNotificationGroup from "@/components/notifications/ProductsNotificationGroup.vue";

  const {mappedConfigurations} = storeToRefs(useConfigurations());
  const {availableCurrencies, cart, cartIsEmpty, total, currency} = storeToRefs(useCheckoutStore());

  const cartSize = ref(cart.value.length);

  const animationFinished = () => {
    if (cartSize.value !== cart.value.length) cartSize.value -= 1;
  };
</script>

<style scoped>
  .grow {
    animation: grow 1s infinite;
  }
</style>
