<template>
  <CircularProgress v-if="inProgress" />
  <PageContainer :configurations="mappedConfigurations">
    <div class="text-center text-h2 mt-5">Delivery information</div>
    <p class="text-center text-grey-darken-2">
      We don't store this information. It is only for delivery process.
    </p>
    <div class="px-3 mt-1">
      <DeliveryForm v-model="deliveryInfo" @validate="onValidate" />
      <v-btn color="blue" variant="tonal" :disabled="!completed" @click="completeOrder"
        >Confirm</v-btn
      >
    </div>
  </PageContainer>
</template>

<script setup>
  import PageContainer from "@/components/PageContainer.vue";
  import {storeToRefs} from "pinia";
  import {useConfigurations} from "@/stores/configurationsStore";
  import {computed, onMounted, ref, watch} from "vue";
  import DeliveryForm from "@/components/forms/DeliveryForm.vue";
  import {useOrdersStore} from "@/stores/ordersStore";
  import {useCheckoutStore} from "@/stores/checkoutStore";
  import {OrderStatus} from "@/model/OrderStatus";
  import {sendMessage} from "@/common/services/slackService";
  import {useRouter} from "vue-router";
  import CircularProgress from "@/common/components/progress/CircularProgress.vue";
  import {shuffle} from "lodash";

  const router = useRouter();

  const {mappedConfigurations} = storeToRefs(useConfigurations());
  const {cart, cartIsEmpty} = storeToRefs(useCheckoutStore());
  const {checkout} = useCheckoutStore();

  const {created, creating} = storeToRefs(useOrdersStore());
  const {create} = useOrdersStore();

  const {send, loading} = sendMessage("new order");

  const deliveryInfo = ref({
    name: "",
    email: "",
    phoneNumber: "",
    livesInUAE: false,
    UAEAddress: "",
  });

  const completed = ref(true);

  const orderLink = computed(
    () => `${window.location.origin}/admin/orders?orderId=${created.value?.orderId}`
  );

  const inProgress = computed(() => creating.value || loading.value);

  const onValidate = (value) => (completed.value = value);
  const completeOrder = () => {
    create({
      customer: deliveryInfo.value.name,
      customerEmail: deliveryInfo.value.email,
      date: new Date(),
      items: cart.value,
      status: OrderStatus.ACTIVE,
      orderId: calculateReadableId(),
    });
  };

  const sendSlackMessage = () => {
    send({
      ...deliveryInfo.value,
      order: orderLink.value,
    });
  };

  const calculateReadableId = () =>
    shuffle(
      (Date.now() * 100 + Math.floor(Math.random() * 100)).valueOf().toString(36).toUpperCase()
    ).join("");

  onMounted(() => {
    if (cartIsEmpty.value) router.push("/checkout");
  });

  watch(creating, (creating) => {
    if (!creating) {
      sendSlackMessage();
      checkout(created.value);
      router.push("/checkout/success");
    }
  });
</script>
