<template>
  <PageContainer :configurations="mappedConfigurations">
    <h1 class="text-center text-h3">Thank you for your order</h1>
    <p class="text-h5 text-grey-darken-3 text-center">We will contact you soon.</p>
    <v-divider class="my-4" />
    <div class="mx-auto w-50">
      <OrderCard v-if="orderDetails" :order="orderDetails" />
    </div>
    <div class="d-flex justify-center mt-3">
      <v-btn size="x-large" class="grow" color="#FFC0CB" to="/products"> Explore products </v-btn>
    </div>
  </PageContainer>
</template>
<script setup>
  import PageContainer from "@/components/PageContainer.vue";
  import {storeToRefs} from "pinia";
  import {useCheckoutStore} from "@/stores/checkoutStore";
  import {useConfigurations} from "@/stores/configurationsStore";
  import {onMounted} from "vue";
  import OrderCard from "@/components/cards/OrderCard.vue";
  import {useRouter} from "vue-router";

  const router = useRouter();

  const {mappedConfigurations} = storeToRefs(useConfigurations());
  const {orderDetails} = storeToRefs(useCheckoutStore());

  onMounted(() => {
    if (!orderDetails.value) router.push("/checkout");
  });
</script>

<style scoped>
  .grow {
    animation: grow 1750ms infinite;
  }
</style>
