<template>
  <slot></slot>
  <div class="w-100 h-0" style="position: relative; top: -15px">
    <v-btn
      :disabled="!removable"
      size="x-small"
      color="red"
      icon="mdi-trash-can"
      class="float-right mx-1"
      @click="remove"
    />
    <v-btn size="x-small" color="blue" icon="mdi-pencil" class="float-right mx-1" @click="edit" />
  </div>
</template>

<script setup>
  defineProps({
    removable: {
      type: Boolean,
      default: true,
    },
  });

  const emit = defineEmits(["edit", "remove"]);

  const edit = () => emit("edit");
  const remove = () => emit("remove");
</script>
