<template>
  <BasePageContainer
    :container="container"
    :disable-footer="disableFooter"
    :company-name="companyName"
  >
    <template #navigation-bar>
      <NavigationBar v-if="withNavigation" :navigation="userNavigation" :logo="appLogo">
        <template #buttons>
          <v-btn
            v-for="(social, i) in socialLinks"
            :key="i"
            :color="social.color"
            :href="social.link"
            :icon="social.icon"
            class="social-link"
            target="_blank"
          />
          <CartButton v-if="showCart" />
        </template>
      </NavigationBar>
    </template>
    <slot />
    <ContactButton v-if="!disableContactButton" />
  </BasePageContainer>
</template>
<script setup>
  import {computed} from "vue";
  import {useRoute} from "vue-router";
  import {keyBy, keys} from "lodash";
  import {ConfigurationTypes, DefaultConfigurations} from "@/model/configurationTypes";
  import BasePageContainer from "@/common/components/BasePageContainer.vue";
  import NavigationBar from "@/common/components/NavigationBar.vue";
  import ContactButton from "@/components/buttons/ContactButton.vue";
  import {
    socialLinks as allSocialLinks,
    userNavigation as allUserNavigation,
  } from "@/menu-navigation";
  import CartButton from "@/components/buttons/CartButton.vue";

  const props = defineProps({
    container: {
      type: Boolean,
      default: true,
    },
    disableFooter: {
      type: Boolean,
      default: false,
    },
    disableContactButton: {
      type: Boolean,
      default: false,
    },
    disableCartButton: {
      type: Boolean,
      default: false,
    },
    configurations: {
      type: Object,
      default: keyBy(DefaultConfigurations, "type"),
    },
  });

  const route = useRoute();

  const showCart = computed(() => !route.name.includes("admin"));

  const companyName = computed(() => props.configurations[ConfigurationTypes.COMPANY_NAME]?.value);

  const appLogo = computed(() => props.configurations[ConfigurationTypes.LOGO]?.value);

  const userNavigation = computed(() => {
    let navKey = firstKeyMatchingPath(allUserNavigation, route.path);
    return navKey ? allUserNavigation[navKey] : [];
  });

  const socialLinks = computed(() => {
    let socialKey = firstKeyMatchingPath(allSocialLinks, route.path);
    return socialKey ? allSocialLinks[socialKey] : [];
  });

  const withNavigation = computed(
    () => userNavigation.value.length !== 0 || socialLinks.value.length !== 0
  );

  // pathExpression is a path expression in the form `path/**/test/**/*`
  // and would match paths like `path/something/test/other/test`
  const pathExpMatches = (pathExpression, path) =>
    new RegExp(
      "^" + pathExpression.replace("**", "[a-zA-z/]+").replace("/*", "/?*").replace("*", ".*") + "$"
    ).test(path);

  const firstKeyMatchingPath = (object, path) => {
    let matches = keys(object).filter((key) => pathExpMatches(key, path));
    return matches.length > 0 ? matches[0] : null;
  };
</script>
<style scoped>
  .social-link:hover {
    animation: shake 1s;
  }
</style>
