<template>
  <ProductCard
    v-if="resource.type === ResourceType.PRODUCT"
    :cost="resource.data.cost"
    :description="resource.data.description"
    :image="resource.data.image"
    :tag-id="resource.data.tagId"
    :title="resource.data.title"
    :currency="resource.data.currency"
  />
  <CategoryCard
    v-if="resource.type === ResourceType.CATEGORY"
    :title="resource.data.title"
    :description="resource.data.description"
    :image="resource.data.image"
    :interactive="false"
  />
  <TagChip
    v-if="resource.type === ResourceType.TAG"
    :label="resource.data.label"
    :icon="resource.data.icon"
    :icon-color="resource.data.iconColor"
    :icon-position="resource.data.iconPosition"
    :color="resource.data.color"
    :text-color="resource.data.textColor"
    :animated="resource.data.animated"
  />
</template>
<script setup>
  import ProductCard from "@/components/cards/ProductCard.vue";
  import CategoryCard from "@/components/cards/CategoryCard.vue";
  import {ResourceType} from "@/model/resourceTypes";
  import TagChip from "@/components/chips/TagChip.vue";

  defineProps({
    resource: {
      type: Object,
      required: true,
    },
  });
</script>
