<template>
  <ProductForm v-if="resource.type === ResourceType.PRODUCT" :product="resource.data" />
  <CategoryForm v-else-if="resource.type === ResourceType.CATEGORY" :category="resource.data" />
  <TagForm v-else-if="resource.type === ResourceType.TAG" :tag="resource.data" />
</template>
<script setup>
  import ProductForm from "@/components/forms/ProductForm.vue";
  import CategoryForm from "@/components/forms/CategoryForm.vue";
  import TagForm from "@/components/forms/TagForm.vue";
  import {ResourceType} from "@/model/resourceTypes";

  defineProps({
    resource: {
      type: Object,
      required: true,
    },
  });
</script>
