<template>
  <slot name="navigation-bar"></slot>
  <slot v-if="!container" />
  <v-container v-else class="fill-height">
    <slot />
  </v-container>
  <RGAppsFooter v-if="!disableFooter" :company-name="companyName" />
</template>

<script setup>
  import RGAppsFooter from "./RGAppsFooter.vue";

  defineProps({
    container: {
      type: Boolean,
      default: true,
    },
    disableFooter: {
      type: Boolean,
      default: false,
    },
    companyName: {
      type: String,
      default: "RGApps",
    },
  });
</script>
