<template>
  <div :style="style">
    <slot />
  </div>
</template>

<script setup>
  import {computed} from "vue";

  const props = defineProps({
    x: {
      type: String,
      default: "50",
    },
    y: {
      type: String,
      default: "50",
    },
    z: {
      type: String,
      default: "0",
    },
    w: {
      type: String,
      default: "",
    },
    h: {
      type: String,
      default: "",
    },
  });

  const style = computed(() => ({
    position: "absolute",
    left: props.x + "%",
    top: props.y + "%",
    transform: "translate(-50%, -50%)",
    zIndex: props.z,
    width: props.w,
    height: props.h,
    overflow: "hidden",
  }));
</script>
