<template>
  <div v-if="showBtn" class="position-fixed mb-16 pa-2" :style="style">
    <v-btn class="ma-2" :color="color" rounded @click="$emit('click')">
      <v-badge v-if="badge" :content="badgeContent" floating>
        <v-icon :icon="icon"></v-icon>
      </v-badge>
      <v-icon v-else :icon="icon"></v-icon>
      <v-tooltip activator="parent" location="start">{{ tooltipText }}</v-tooltip>
    </v-btn>
  </div>
</template>

<script setup>
  import {computed, toRef} from "vue";

  const props = defineProps({
    visible: {
      type: Boolean,
      default: true,
    },
    tooltipText: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      required: true,
    },
    color: {
      type: String,
      default: "#C2A8F0",
    },
    position: {
      type: String,
      default: "bottom right",
    },
    badge: {
      type: Boolean,
      default: false,
    },
    badgeContent: {
      type: [String, Number],
      default: "",
    },
  });

  defineEmits(["click"]);

  const showBtn = toRef(props, "visible");

  const pos = computed(() => props.position.split(" ").map((e) => e.trim()));

  const style = computed(() => {
    const btnStyle = {
      zIndex: 150,
    };

    pos.value.forEach((pos) => {
      btnStyle[pos] = 0;
    });

    return btnStyle;
  });
</script>
