<template>
  <v-text-field
    v-model="userSearch"
    clearable
    placeholder="Search"
    prepend-inner-icon="mdi-magnify"
    variant="filled"
    @keyup.enter="addFilter"
  />
  <v-chip
    v-for="(savedFilter, i) in savedFilters"
    :key="i"
    closable
    class="mx-1"
    @click:close="removeFilter(savedFilter)"
  >
    {{ savedFilter }}
  </v-chip>
  <div>{{ groupedData.length }}</div>
  <div v-if="!emptyFilteredData">
    <div v-for="(items, group) in groupedData" :key="group">
      <div class="d-flex align-center">
        <div class="text-h4 mt-3">{{ groupString(group) }}</div>
      </div>
      <v-divider color="grey-lighten-1" class="mb-3" />
      <v-row>
        <v-col
          v-for="(item, j) in items"
          :key="j"
          class="d-flex flex-column px-3"
          cols="6"
          lg="2"
          md="3"
          sm="4"
        >
          <slot name="item-renderer" :element="item" />
        </v-col>
      </v-row>
      <v-row class="mt-5">
        <v-spacer />
        <slot name="group-element" :group="group" />
      </v-row>
    </div>
  </div>
  <div v-else class="w-100 fill-height d-flex flex-column justify-center align-center">
    <div class="text-h3">No data found</div>
  </div>
</template>

<script setup>
  import {computed, onBeforeMount, ref} from "vue";
  import {useRoute} from "vue-router";
  import {useRouter} from "vue-router";
  import pluralize from "pluralize";
  import {filter, forEach, groupBy, some, get} from "lodash";

  const props = defineProps({
    data: {
      type: Array,
      required: true,
    },
    groupBy: {
      type: String,
      required: true,
    },
    expectedGroups: {
      type: Array,
      default: () => [],
    },
    filteredFields: {
      type: Array,
      required: true,
    },
  });

  const userSearch = ref("");
  const savedFilters = ref([]);

  const activeFilters = computed(() => {
    const trimmedSearch = userSearch.value.trim();
    return trimmedSearch === "" ? savedFilters.value : [trimmedSearch, ...savedFilters.value];
  });

  const hasFilters = computed(() => activeFilters.value.length !== 0);

  const filteredData = computed(() =>
    !hasFilters.value
      ? props.data
      : filter(props.data, (item) =>
          activeFilters.value.every(
            (filter) =>
              some(
                props.filteredFields,
                (field) =>
                  get(item, field) && get(item, field).toLowerCase().includes(filter.toLowerCase())
              ) || item[props.groupBy].toLowerCase().includes(filter.toLowerCase())
          )
        )
  );

  const emptyFilteredData = computed(() => filteredData.value.length === 0);

  const groupedData = computed(() => {
    const groupedData = groupBy(filteredData.value, props.groupBy);
    if (!hasFilters.value) {
      forEach(props.expectedGroups, (group) => {
        if (!groupedData[group]) groupedData[group] = [];
      });
    }
    return groupedData;
  });

  const groupString = (group) => pluralize(group);

  const route = useRoute();
  const router = useRouter();

  onBeforeMount(() => {
    const required = route.query.q ? route.query.q.split(",") : [];
    savedFilters.value.push(...required);
    router.push(route.path);
  });

  const addFilter = () => {
    savedFilters.value = [...activeFilters.value];
    userSearch.value = "";
  };

  const removeFilter = (filter) => {
    const index = savedFilters.value.findIndex((f) => f === filter);
    savedFilters.value.splice(index, 1);
  };
</script>
