<template>
  <v-footer class="bg-grey-darken-4" style="max-height: 100px">
    <v-container>
      <div class="text-center">
        {{ companyName }} | Created by
        <a class="rgapps" href="https://rgapps.site" target="_blank">RGApps</a>
        , All rights reserved © {{ year }}
      </div>
    </v-container>
  </v-footer>
</template>

<script setup>
  import {computed} from "vue";

  defineProps({
    companyName: {
      type: String,
      required: true,
    },
  });

  const year = computed(() => new Date().getFullYear());
</script>

<style scoped>
  .rgapps {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: DraftFont, sans-serif;
  }

  .rgapps:hover {
    font-weight: bold;
  }
</style>
