<template>
  <div :style="style" />
  <div class="font-italic" style="font-size: 14px; margin: 40px 0 25px 70px">
    <slot />
  </div>
</template>

<script setup>
  import {computed} from "vue";

  const props = defineProps({
    image: {
      type: String,
      required: true,
    },
  });

  const style = computed(() => ({
    backgroundImage: `url("${props.image}")`,
    width: "100px",
    height: "100%",
    float: "left",
    backgroundSize: "100% 100%",
    marginRight: "-30px",
  }));
</script>
