<template>
  <NotificationsGroup>
    <ProductNotification
      v-for="item in productNotifications"
      :id="item.id"
      :key="item.id"
      :action="item.action"
      :product="item.product"
    />
  </NotificationsGroup>
</template>

<script setup>
  import NotificationsGroup from "@/common/components/notifications/NotificationsGroup.vue";
  import ProductNotification from "@/components/notifications/ProductNotification.vue";
  import {computed} from "vue";
  import {notificationStore} from "@/stores/notificationStore";
  import {storeToRefs} from "pinia";

  const {notifications} = storeToRefs(notificationStore());

  const productNotifications = computed(() =>
    notifications.value.filter((n) => n.type === "PRODUCT")
  );
</script>
