<template>
  <BaseNotification :color="color">
    <div>
      {{ message }} <strong>{{ product.title }}</strong>
    </div>
    <v-btn icon="mdi-close" variant="text" @click="removeNotification(id)" />
  </BaseNotification>
</template>

<script setup>
  import BaseNotification from "@/common/components/notifications/BaseNotification.vue";
  import {computed, toRef} from "vue";
  import {CartActionTypes} from "@/model/cartActionTypes";
  import {values} from "lodash";
  import {notificationStore} from "@/stores/notificationStore";

  const props = defineProps({
    action: {
      type: String,
      required: true,
      validator(value) {
        return values(CartActionTypes).includes(value);
      },
    },
    product: {
      type: Object,
      required: true,
    },
    id: {
      type: String,
      required: true,
    },
  });

  const usedAction = toRef(props, "action");

  const {removeNotification} = notificationStore();

  const isAdding = computed(() => usedAction.value === CartActionTypes.ADD);

  const color = computed(() => (isAdding.value ? "light-green-lighten-3" : "red-lighten-3"));

  const message = computed(() => (isAdding.value ? "Added" : "Removed"));
</script>
