@use "assets/styles/animations";
@use "assets/styles/transitions";
@use "vuetify" with (
  $body-font-family: "AlegreyaSans",
  $font-size-root: 1rem
);

@font-face {
  font-family: "AlegreyaSans";
  font-weight: 100;
  font-style: normal;
  src: local("AlegreyaSans"),
    url("./assets/fonts/Alegreya/ttf/AlegreyaSans-Thin.ttf") format("ttf"),
    url("./assets/fonts/Alegreya/woff/AlegreyaSans-Thin.woff") format("woff");
}

@font-face {
  font-family: "AlegreyaSans";
  font-weight: 100;
  font-style: italic;
  src: local("AlegreyaSans"),
    url("./assets/fonts/Alegreya/ttf/AlegreyaSans-ThinItalic.ttf") format("ttf"),
    url("./assets/fonts/Alegreya/woff/AlegreyaSans-ThinItalic.woff")
      format("woff");
}

@font-face {
  font-family: "AlegreyaSans";
  font-weight: 300;
  font-style: normal;
  src: local("AlegreyaSans"),
    url("./assets/fonts/Alegreya/ttf/AlegreyaSans-Light.ttf") format("ttf"),
    url("./assets/fonts/Alegreya/woff/AlegreyaSans-Light.woff") format("woff");
}

@font-face {
  font-family: "AlegreyaSans";
  font-weight: 300;
  font-style: italic;
  src: local("AlegreyaSans"),
    url("./assets/fonts/Alegreya/ttf/AlegreyaSans-LightItalic.ttf")
      format("ttf"),
    url("./assets/fonts/Alegreya/woff/AlegreyaSans-LightItalic.woff")
      format("woff");
}

@font-face {
  font-family: "AlegreyaSans";
  font-weight: 400;
  font-style: normal;
  src: local("AlegreyaSans"),
    url("./assets/fonts/Alegreya/ttf/AlegreyaSans-Regular.ttf") format("ttf"),
    url("./assets/fonts/Alegreya/woff/AlegreyaSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "AlegreyaSans";
  font-weight: 400;
  font-style: italic;
  src: local("AlegreyaSans"),
    url("./assets/fonts/Alegreya/ttf/AlegreyaSans-Italic.ttf") format("ttf"),
    url("./assets/fonts/Alegreya/woff/AlegreyaSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "AlegreyaSans";
  font-weight: 500;
  font-style: normal;
  src: local("AlegreyaSans"),
    url("./assets/fonts/Alegreya/ttf/AlegreyaSans-Medium.ttf") format("ttf"),
    url("./assets/fonts/Alegreya/woff/AlegreyaSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "AlegreyaSans";
  font-weight: 500;
  font-style: italic;
  src: local("AlegreyaSans"),
    url("./assets/fonts/Alegreya/ttf/AlegreyaSans-MediumItalic.ttf")
      format("ttf"),
    url("./assets/fonts/Alegreya/woff/AlegreyaSans-MediumItalic.woff")
      format("woff");
}

@font-face {
  font-family: "AlegreyaSans";
  font-weight: 700;
  font-style: normal;
  src: local("AlegreyaSans"),
    url("./assets/fonts/Alegreya/ttf/AlegreyaSans-Bold.ttf") format("ttf"),
    url("./assets/fonts/Alegreya/woff/AlegreyaSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "AlegreyaSans";
  font-weight: 700;
  font-style: italic;
  src: local("AlegreyaSans"),
    url("./assets/fonts/Alegreya/ttf/AlegreyaSans-BoldItalic.ttf") format("ttf"),
    url("./assets/fonts/Alegreya/woff/AlegreyaSans-BoldItalic.woff")
      format("woff");
}

@font-face {
  font-family: "AlegreyaSans";
  font-weight: 800;
  font-style: normal;
  src: local("AlegreyaSans"),
    url("./assets/fonts/Alegreya/ttf/AlegreyaSans-ExtraBold.ttf") format("ttf"),
    url("./assets/fonts/Alegreya/woff/AlegreyaSans-ExtraBold.woff")
      format("woff");
}

@font-face {
  font-family: "AlegreyaSans";
  font-weight: 800;
  font-style: italic;
  src: local("AlegreyaSans"),
    url("./assets/fonts/Alegreya/ttf/AlegreyaSans-ExtraBoldItalic.ttf")
      format("ttf"),
    url("./assets/fonts/Alegreya/woff/AlegreyaSans-ExtraBoldItalic.woff")
      format("woff");
}

@font-face {
  font-family: "AlegreyaSans";
  font-weight: 900;
  font-style: normal;
  src: local("AlegreyaSans"),
    url("./assets/fonts/Alegreya/ttf/AlegreyaSans-Black.ttf") format("ttf"),
    url("./assets/fonts/Alegreya/woff/AlegreyaSans-Black.woff") format("woff");
}

@font-face {
  font-family: "AlegreyaSans";
  font-weight: 900;
  font-style: italic;
  src: local("AlegreyaSans"),
    url("./assets/fonts/Alegreya/ttf/AlegreyaSans-BlackItalic.ttf")
      format("ttf"),
    url("./assets/fonts/Alegreya/woff/AlegreyaSans-BlackItalic.woff")
      format("woff");
}

@font-face {
  font-family: "DraftFont";
  font-weight: 400;
  font-style: normal;
  src: local("DraftFont"), url("./assets/fonts/DraftFont.woff") format("woff");
}

.skeleton {
  animation: skeleton 1s ease-in-out infinite;
}
