@keyframes skeleton {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes shake {
  0% {
    scale: 100%;
  }
  20% {
    scale: 120%;
    rotate: 15deg;
  }
  50% {
    rotate: -15deg;
  }
}

@keyframes popup {
  0% {
    scale: 100%;
  }
  25% {
    scale: 150%;
  }
  50% {
    scale: 100%;
  }
  75% {
    scale: 120%;
  }
  100% {
    scale: 100%;
  }
}

@keyframes grow {
  0% {
    scale: 100%;
  }
  50% {
    scale: 110%;
  }
  100% {
    scale: 100%;
  }
}
