<template>
  <BaseModal :title="title" :visible="visible" :loading="saving" @close="cancel">
    <ConfigurationForm v-model="usedConfiguration.value" :is-text-area="isTextArea" />
    <template #actions>
      <v-btn @click="trigger">Save</v-btn>
    </template>
  </BaseModal>
</template>

<script setup>
  import {computed, watch, ref} from "vue";
  import BaseModal from "@/common/components/dialogs/BaseModal.vue";
  import {useConfigurations} from "@/stores/configurationsStore";
  import ConfigurationForm from "@/components/forms/ConfigurationForm.vue";
  import {ConfigurationTypes} from "@/model/configurationTypes";
  import {storeToRefs} from "pinia";
  import {omit} from "lodash";

  const props = defineProps({
    configuration: {
      type: Object,
      required: true,
    },
    visible: {
      type: Boolean,
      required: true,
    },
  });

  const emit = defineEmits(["cancel", "success"]);

  const {update, create, retrieve} = useConfigurations();
  const {saving, retrieving} = storeToRefs(useConfigurations());

  const usedConfiguration = ref(null);

  const title = computed(() => `Configuring ${props.configuration.type}`);

  const isTextArea = computed(() => ConfigurationTypes.ABOUT_TEXT === usedConfiguration.value.type);

  const trigger = () => {
    if (usedConfiguration.value.id) {
      update(usedConfiguration.value.id, omit(usedConfiguration.value, "id"));
    } else {
      create(usedConfiguration.value);
    }
  };

  const cancel = () => emit("cancel");

  watch(
    () => props.configuration,
    (configuration) => {
      usedConfiguration.value = {...configuration};
    }
  );

  watch(saving, (saving) => {
    if (!saving) {
      retrieve();
    }
  });

  watch(retrieving, (retrieving) => {
    if (!retrieving) {
      emit("success");
    }
  });
</script>
