<template>
  <BaseModal title="OFFER OF THE DAY" :visible="show" @close="close">
    <v-img :src="src" />
  </BaseModal>
</template>

<script setup>
  import {computed, reactive} from "vue";
  import BaseModal from "@/common/components/dialogs/BaseModal.vue";
  import useEventListener from "@/common/useEventListener";

  const props = defineProps({
    visible: {
      type: Boolean,
      default: true,
    },
  });

  const state = reactive({
    loaded: false,
    visible: props.visible,
  });

  const show = computed(() => state.loaded && state.visible);

  const close = () => (state.visible = false);

  const src = "https://picsum.photos/350/200";

  const img = new Image();
  img.src = src;

  useEventListener(img, "load", () => {
    state.loaded = true;
  });
</script>
