<template>
  <BaseModal :title="title" :visible="visible" :loading="saving" @close="cancel">
    <span class="text-red font-weight-bold">{{ error }}</span>
    <v-row class="mt-3">
      <v-col v-if="!isDeleting" cols="8">
        <ResourceForm v-if="visible" :resource="changingResource" @validated="onValidated" />
      </v-col>
      <v-col cols="4" class="mx-auto">
        <ResourcePreview v-if="visible" :resource="changingResource" />
      </v-col>
    </v-row>
    <template #actions>
      <v-btn :disabled="disableButton" color="blue" @click="trigger">{{ buttonText }}</v-btn>
    </template>
  </BaseModal>
</template>

<script setup>
  import {computed, ref, watch} from "vue";
  import {ResourceAction} from "@/model/resourceActions";
  import {EmptyResources} from "@/model/resourceTypes";
  import {useResources} from "@/stores/resourcesStore";
  import {storeToRefs} from "pinia";
  import BaseModal from "@/common/components/dialogs/BaseModal.vue";
  import ResourceForm from "@/components/ResourceForm.vue";
  import ResourcePreview from "@/components/ResourcePreview.vue";

  const props = defineProps({
    visible: {
      type: Boolean,
      default: false,
    },
    action: {
      type: String,
      default: "create",
    },
    resource: {
      type: Object,
      required: true,
    },
  });

  const emit = defineEmits(["cancel", "success"]);

  const title = computed(() => {
    if (isDeleting.value) return `Are you sure you want to delete this ${props.resource.type}?`;
    else if (isCreating.value) return `Creating new ${props.resource.type}`;
    else if (isEditing.value) return `Editing ${props.resource.type}`;
    else throw new Error(`Unexpected Action ${props.action}`);
  });

  const isCreating = computed(() => props.action === ResourceAction.CREATE);
  const isEditing = computed(() => props.action === ResourceAction.EDIT);
  const isDeleting = computed(() => props.action === ResourceAction.DELETE);

  const buttonText = computed(() => (isDeleting.value ? "Delete" : "Save"));

  const completed = ref(true);

  const onValidated = (validated) => (completed.value = validated);

  const {create, retrieve, update, remove} = useResources();
  const {saving, retrieving, error} = storeToRefs(useResources());

  const disableButton = computed(() => saving.value || !completed.value);

  const changingResource = ref(null);

  const trigger = () => {
    if (isCreating.value) create(changingResource.value);
    else if (isEditing.value) update(changingResource.value);
    else if (isDeleting.value) remove(changingResource.value);
  };

  const cancel = () => {
    emit("cancel");
  };

  watch(
    () => props.resource,
    (resource) => {
      if (isCreating.value) {
        changingResource.value = {data: {...EmptyResources[resource.type]}, type: resource.type};
      } else {
        changingResource.value = resource;
      }
    }
  );

  watch(saving, (saving) => {
    if (!saving) {
      retrieve(props.resource.type);
    }
  });

  watch(retrieving, (retrieving) => {
    if (!retrieving) {
      emit("success");
    }
  });
</script>
