<template>
  <ConfigurationModal
    :visible="visibleModal"
    :configuration="usedConfiguration"
    @cancel="closeModal"
    @success="closeModal"
  />
  <PageContainer :configurations="mappedConfigurations">
    <div v-for="(config, i) in configurations" :key="i">
      <div class="d-flex">
        <div class="text-h4">{{ startCase(config.type) }}</div>
        <v-spacer />
        <v-btn color="blue" @click="update(config)">Update</v-btn>
      </div>
      <v-divider class="my-1" />
      <div style="white-space: pre-line">{{ config.value }}</div>
    </div>
  </PageContainer>
</template>

<script setup>
  import PageContainer from "@/components/PageContainer.vue";
  import ConfigurationModal from "@/components/dialogs/ConfigurationModal.vue";
  import {ref} from "vue";
  import {startCase} from "lodash";
  import {useConfigurations} from "@/stores/configurationsStore";
  import {storeToRefs} from "pinia";

  const {configurations, mappedConfigurations} = storeToRefs(useConfigurations());

  const usedConfiguration = ref({});
  const visibleModal = ref(false);

  const update = (config) => {
    usedConfiguration.value = config;
    visibleModal.value = true;
  };

  const closeModal = () => (visibleModal.value = false);
</script>
