<template>
  <CircularProgress v-if="loading" />
  <PageContainer :configurations="mappedConfigurations">
    <div class="d-flex">
      <v-text-field v-model="orderId" label="Search for order id:" density="compact" class="mx-1" />
      <v-select
        v-model="statusFilter"
        label="Filter"
        :items="keys(OrderStatus)"
        class="mx-1"
        density="compact"
        multiple
      />
    </div>
    <div v-if="showActive" class="my-4">
      <div v-if="showStatusTitle" class="text-h3">Active orders</div>
      <v-divider class="my-2 mx-auto" />
      <div v-if="filteredById.length === 0" class="text-h4 text-center font-weight-light">
        Not active orders found
      </div>
      <v-row>
        <v-col v-for="(order, i) in filteredById" :key="i" cols="12" md="4" lg="3">
          <OrderCard :order="order">
            <template #actions>
              <v-btn color="green" @click="completeOrder(order)">Complete</v-btn>
              <v-btn color="red" @click="cancelOrder(order)">Cancel</v-btn>
            </template>
          </OrderCard>
        </v-col>
      </v-row>
    </div>
    <div v-if="showCompleted" class="my-4">
      <div v-if="showStatusTitle" class="text-h3">Completed orders</div>
      <v-divider class="my-2 mx-auto" />
      <div v-if="completedByDates.length === 0" class="text-h4 text-center font-weight-light">
        Not completed orders found
      </div>
      <v-row>
        <v-col v-for="(order, i) in completedByDates" :key="i" cols="12" md="4" lg="3">
          <OrderCard :order="order">
            <template #actions>
              <v-btn color="blue" @click="activateOrder(order)">Mark as active</v-btn>
            </template>
          </OrderCard>
        </v-col>
      </v-row>
    </div>
    <div v-if="showCancelled" class="my-4">
      <div v-if="showStatusTitle" class="text-h3">Cancelled orders</div>
      <v-divider class="my-2 mx-auto" />
      <div v-if="cancelledOrders.length === 0" class="text-h4 text-center font-weight-light">
        Not cancelled orders found
      </div>
      <v-row>
        <v-col v-for="(order, i) in cancelledByDates" :key="i" cols="12" md="4" lg="3">
          <OrderCard :order="order">
            <template #actions>
              <v-btn color="blue" @click="activateOrder(order)">Mark as active</v-btn>
            </template>
          </OrderCard>
        </v-col>
      </v-row>
    </div>
  </PageContainer>
</template>

<script setup>
  import {computed, onBeforeMount, ref} from "vue";
  import PageContainer from "@/components/PageContainer.vue";
  import {storeToRefs} from "pinia";
  import {useConfigurations} from "@/stores/configurationsStore";
  import {useRoute, useRouter} from "vue-router";
  import {filter, keys} from "lodash";
  import {useOrdersStore} from "@/stores/ordersStore";
  import OrderCard from "@/components/cards/OrderCard.vue";
  import CircularProgress from "@/common/components/progress/CircularProgress.vue";
  import {OrderStatus} from "@/model/OrderStatus";

  const route = useRoute();
  const router = useRouter();

  const {mappedConfigurations} = storeToRefs(useConfigurations());
  const {activeOrders, cancelledOrders, completedOrders, loading} = storeToRefs(useOrdersStore());

  const {activateOrder, cancelOrder, completeOrder} = useOrdersStore();

  const orderId = ref("");
  const statusFilter = ref([OrderStatus.ACTIVE]);

  const activeByDates = computed(() =>
    [...activeOrders.value].sort((order1, order2) => (new Date(order1) > new Date(order2) ? 1 : -1))
  );

  const cancelledByDates = computed(() =>
    [...cancelledOrders.value].sort((order1, order2) =>
      new Date(order1) > new Date(order2) ? 1 : -1
    )
  );

  const completedByDates = computed(() =>
    [...completedOrders.value].sort((order1, order2) =>
      new Date(order1) > new Date(order2) ? 1 : -1
    )
  );

  const filteredById = computed(() =>
    orderId.value.trim().length === 0
      ? activeByDates.value
      : filter(activeByDates.value, (order) => order.orderId.includes(orderId.value))
  );

  const showStatusTitle = computed(() => statusFilter.value.length > 1);

  const showActive = computed(() => [...statusFilter.value].includes(OrderStatus.ACTIVE));
  const showCancelled = computed(() => [...statusFilter.value].includes(OrderStatus.CANCELLED));
  const showCompleted = computed(() => [...statusFilter.value].includes(OrderStatus.COMPLETED));

  onBeforeMount(() => {
    orderId.value = route.query.orderId || "";
    router.push(route.path);
  });
</script>
