<template>
  <CircularProgress v-if="loading" color="#C2A8F0" />
  <ResourceModal
    :action="modalAction"
    :visible="visibleModal"
    :resource="modalResource"
    @cancel="closeModal"
    @success="closeModal"
  />
  <PageContainer :configurations="mappedConfigurations">
    <GroupedItems
      :data="resources"
      group-by="type"
      :expected-groups="expectedGroups"
      :filtered-fields="['data.title', 'data.label']"
    >
      <template #group-element="{group}">
        <v-btn size="small" color="green" @click="create(group)"
          ><v-icon>mdi-plus</v-icon> Add {{ group }}</v-btn
        >
      </template>
      <template #item-renderer="{element: resource}">
        <EditableResource
          :removable="isRemovable(resource)"
          @edit="edit(resource)"
          @remove="remove(resource)"
        >
          <ResourcePreview :resource="resource" />
        </EditableResource>
      </template>
    </GroupedItems>
  </PageContainer>
</template>

<script setup>
  import PageContainer from "@/components/PageContainer.vue";
  import GroupedItems from "@/common/components/GroupedItems.vue";
  import {computed, ref} from "vue";
  import ResourceModal from "@/components/dialogs/ResourceModal.vue";
  import CircularProgress from "@/common/components/progress/CircularProgress.vue";
  import {ResourceAction} from "@/model/resourceActions";
  import EditableResource from "@/components/EditableResource.vue";
  import ResourcePreview from "@/components/ResourcePreview.vue";
  import {useResources} from "@/stores/resourcesStore";
  import {storeToRefs} from "pinia";
  import {ResourceType} from "@/model/resourceTypes";
  import {values} from "lodash";
  import {useConfigurations} from "@/stores/configurationsStore";

  const {isRemovable} = useResources();
  const {resources, retrieving} = storeToRefs(useResources());
  const {mappedConfigurations} = storeToRefs(useConfigurations());

  const visibleModal = ref(false);
  const modalResource = ref({});
  const expectedGroups = ref(values(ResourceType));
  const modalAction = ref(ResourceAction.CREATE);

  const loading = computed(() => retrieving.value && !visibleModal.value);

  function closeModal() {
    visibleModal.value = false;
  }

  const create = (type) => {
    modalResource.value = {data: {}, type: type};
    modalAction.value = ResourceAction.CREATE;
    visibleModal.value = true;
  };

  const edit = (resource) => {
    modalResource.value = resource;
    modalAction.value = ResourceAction.EDIT;
    visibleModal.value = true;
  };

  const remove = (resource) => {
    modalResource.value = resource;
    modalAction.value = ResourceAction.DELETE;
    visibleModal.value = true;
  };
</script>
