<template>
  <v-form ref="form">
    <v-text-field
      v-model="usedCategory.title"
      :rules="rules.title"
      label="Title"
      variant="outlined"
      density="compact"
      class="ma-2"
      hide-details="auto"
    />
    <v-textarea
      v-model="usedCategory.description"
      :rules="rules.description"
      label="Description"
      variant="outlined"
      density="compact"
      class="ma-2"
      rows="3"
      hide-details="auto"
    />
    <v-text-field
      v-model="usedCategory.image"
      :rules="rules.image"
      label="Image"
      variant="outlined"
      density="compact"
      class="ma-2"
      hide-details="auto"
    />
  </v-form>
</template>

<script setup>
  import {ref, toRef, watch} from "vue";
  import useForm from "@/common/hooks/useForm";

  const props = defineProps({
    category: {
      type: Object,
      default: () => ({
        title: "",
        image: "",
        description: "",
      }),
    },
  });
  const usedCategory = toRef(props, "category");

  const rules = {
    title: [
      (v) => !!v || "Title  is required",
      (v) => v.length < 45 || "Title must have less than 45 characters",
    ],
    description: [(v) => !!v || "Title is required"],
    image: [(v) => !!v || "Image  is required"],
  };

  const form = ref(null);

  const emits = defineEmits(["validated"]);
  const {validated} = useForm(form, usedCategory, rules);

  emits("validated", validated.value);
  watch(validated, (value) => emits("validated", value), {deep: true});
</script>
