<template>
  <v-textarea
    v-if="isTextArea"
    :model-value="modelValue"
    label="Value"
    @update:model-value="$emit('update:modelValue', $event)"
  />
  <v-text-field
    v-else
    :model-value="modelValue"
    label="Value"
    @update:model-value="$emit('update:modelValue', $event)"
  />
</template>

<script setup>
  defineProps({
    isTextArea: {
      type: Boolean,
      default: false,
    },
    modelValue: {
      type: String,
      default: "",
    },
  });

  defineEmits(["update:modelValue"]);
</script>
