<template>
  <v-form ref="form">
    <v-text-field
      :model-value="modelValue.name"
      label="Name"
      :rules="rules.name"
      @update:model-value="updateField('name', $event)"
    />
    <v-text-field
      :model-value="modelValue.email"
      label="Email"
      type="email"
      :rules="rules.email"
      @update:model-value="updateField('email', $event)"
    />
    <v-text-field
      :model-value="modelValue.phoneNumber"
      label="Cellphone number"
      type="tel"
      :rules="rules.phoneNumber"
      @update:model-value="updateField('phoneNumber', $event)"
    />
    <v-checkbox
      :model-value="modelValue.livesInUAE"
      label="Do you live in UAE?"
      @update:model-value="updateField('livesInUAE', $event)"
    />
    <v-text-field
      v-if="modelValue.livesInUAE"
      :model-value="modelValue.UAEAddress"
      :rules="rules.UAEAddress"
      label="Address:"
      @update:model-value="updateField('UAEAddress', $event)"
    />
  </v-form>
</template>

<script setup>
  import {keys} from "lodash";
  import {computed, ref, toRef, watch} from "vue";
  import {isValidEmailAddress} from "jsdom/lib/jsdom/living/helpers/form-controls";
  import useForm from "@/common/hooks/useForm";

  const props = defineProps({
    modelValue: {
      type: Object,
      required: true,
      validator(value) {
        const requiredFields = ["email", "name", "phoneNumber", "UAEAddress", "livesInUAE"];
        const fields = keys(value);
        return fields.every((field) => requiredFields.includes(field));
      },
    },
  });

  const emit = defineEmits(["update:modelValue", "validate"]);

  const checkoutUserInfo = toRef(props, "modelValue");

  const form = ref(null);

  const rules = computed(() => ({
    name: [(v) => !!v || "Name is required"],
    email: [
      (v) => !!v || "Email is required",
      (v) => isValidEmailAddress(v) || "A valid mail address is required",
    ],
    phoneNumber: [(v) => !!v || "Cellphone number is required"],
    UAEAddress: [(v) => !!v || !checkoutUserInfo.value.livesInUAE || "Address is required"],
  }));

  const {validated} = useForm(form, checkoutUserInfo, rules.value);

  const updateField = (field, value) => {
    emit("update:modelValue", {...checkoutUserInfo.value, [field]: value});
  };

  emit("validate", validated.value);
  watch(validated, (value) => emit("validate", value), {deep: true});
</script>
