<template>
  <v-form ref="form">
    <v-row no-gutters>
      <v-col cols="5" offset="1">
        <v-select
          v-model="usedProduct.category"
          :rules="rules.category"
          :items="categories"
          label="Category"
          variant="underlined"
          class="ma-2"
          hide-details="auto"
          clearable
        />
      </v-col>
      <v-col cols="5">
        <v-select
          v-model="selectedTag"
          :rules="rules.tagId"
          :items="tagsOptions"
          label="Tag"
          variant="underlined"
          class="ma-2"
          hide-details="auto"
          clearable
        />
      </v-col>
    </v-row>
    <v-text-field
      v-model="usedProduct.title"
      :rules="rules.title"
      label="Title"
      variant="outlined"
      density="compact"
      class="ma-2"
      hide-details="auto"
    />
    <v-textarea
      v-model="usedProduct.description"
      :rules="rules.description"
      label="Description"
      variant="outlined"
      density="compact"
      rows="3"
      class="ma-2"
      hide-details="auto"
    />
    <v-text-field
      v-model="usedProduct.image"
      :rules="rules.image"
      label="Image"
      variant="outlined"
      density="compact"
      class="ma-2"
      hide-details="auto"
    />
    <v-row no-gutters>
      <v-col cols="3" :offset="4">
        <v-text-field
          v-model="usedProduct.currency"
          :rules="rules.currency"
          label="Currency"
          variant="filled"
          density="compact"
          class="ma-2"
          hide-details="auto"
          readonly
        />
      </v-col>
      <v-col cols="5">
        <v-text-field
          v-model="usedProduct.cost"
          :rules="rules.cost"
          label="Cost"
          variant="outlined"
          density="compact"
          pattern="[0-9]*"
          type="number"
          class="ma-2"
          hide-details="auto"
        />
      </v-col>
    </v-row>
  </v-form>
</template>

<script setup>
  import {computed, ref, toRef, watch} from "vue";
  import {storeToRefs} from "pinia/dist/pinia";
  import {useCategories} from "@/stores/categoriesStore";
  import {useTags} from "@/stores/tagsStore";
  import useForm from "@/common/hooks/useForm";

  const props = defineProps({
    product: {
      type: Object,
      default: () => ({
        category: "",
        title: "",
        cost: "0",
        image: "",
        description: "",
        tagId: "",
        currency: "",
      }),
    },
  });

  const rules = {
    category: [(v) => !!v || "Category is required"],
    title: [
      (v) => !!v || "Title is required",
      (v) => v.length < 45 || "Title must have less than 45 characters",
    ],
    cost: [(v) => !!v || "Cost is required", (v) => v > 0 || "Cost must be greater than 0"],
    image: [(v) => !!v || "Image is required"],
    currency: [(v) => !!v || "Currency is required"],
  };

  const usedProduct = toRef(props, "product");

  const {categories} = storeToRefs(useCategories());
  const {tags} = storeToRefs(useTags());

  const tagsOptions = computed(() => tags.value.map((tag) => tag.label));
  const selectedTag = ref(
    props.product.tagId !== ""
      ? tags.value.find((tag) => tag.id === usedProduct.value.tagId).label
      : ""
  );

  watch(
    selectedTag,
    (selected) =>
      (usedProduct.value.tagId =
        selected !== null ? tags.value.find((tag) => tag.label === selected).id : "")
  );

  const form = ref(null);

  const emits = defineEmits(["validated"]);
  const {validated} = useForm(form, usedProduct, rules);

  emits("validated", validated.value);
  watch(validated, (value) => emits("validated", value), {deep: true});
</script>
