<template>
  <v-form ref="form">
    <v-row no-gutters>
      <v-col cols="12">
        <v-text-field
          v-model="usedTag.label"
          :rules="rules.label"
          label="Label"
          density="compact"
          variant="outlined"
          class="ma-2"
          hide-details="auto"
        />
      </v-col>
      <v-col cols="4" class="d-flex justify-center align-center">
        <ColorPicker
          label="Tag color"
          :color="usedTag.color"
          class="ml-2"
          @change="updateTagColor"
        />
      </v-col>
      <v-col cols="4" class="d-flex justify-center align-center">
        <ColorPicker
          label="Text color"
          :color="usedTag.textColor"
          class="ml-2"
          @change="updateTextColor"
        />
      </v-col>
      <v-col cols="4" class="d-flex justify-center align-center">
        <v-checkbox
          v-model="usedTag.animated"
          label="animate"
          hide-details="auto"
          density="compact"
          class="d-flex justify-center"
        />
      </v-col>
      <v-col cols="12" class="my-4 px-2">
        <IconPicker v-model="usedTag.icon" @clear="clearIcon" />
      </v-col>
      <v-col v-if="usedTag.icon" cols="12" class="mb-2">
        <v-row>
          <v-col cols="6" class="d-flex justify-center">
            <ColorPicker
              label="Icon color"
              :color="usedTag.iconColor"
              class="mx-2"
              @change="updateIconColor"
            />
          </v-col>
          <v-col cols="6" class="d-flex justify-center">
            <v-radio-group
              v-model="usedTag.iconPosition"
              :disabled="!usedTag.icon"
              class="ma-1"
              density="compact"
              hide-details="auto"
              inline
            >
              <v-radio label="Left" value="start" />
              <v-radio label="Right" value="end" />
            </v-radio-group>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-form>
</template>

<script setup>
  import {ref, toRef, watch} from "vue";
  import useForm from "@/common/hooks/useForm";
  import ColorPicker from "@/common/components/pickers/ColorPicker.vue";
  import IconPicker from "@/common/components/pickers/IconPicker.vue";

  const props = defineProps({
    tag: {
      type: Object,
      default: () => ({
        label: "",
        icon: "",
        iconColor: "#ff5555",
        textColor: "#000",
        color: "#ff5555",
        animated: false,
      }),
    },
  });

  const rules = {
    label: [(v) => !!v || "Label is required"],
  };

  const usedTag = toRef(props, "tag");

  const form = ref(null);

  const emits = defineEmits(["validated"]);
  const {validated} = useForm(form, usedTag, rules);

  const clearIcon = () => {
    usedTag.value.icon = "";
  };

  const updateIconColor = (color) => {
    usedTag.value.iconColor = color;
  };

  const updateTagColor = (color) => {
    usedTag.value.color = color;
  };

  const updateTextColor = (color) => {
    usedTag.value.textColor = color;
  };

  emits("validated", validated.value);
  watch(validated, (value) => emits("validated", value), {deep: true});
</script>
